

<div class="login-container">
  <div class="background-image"></div>

  <header class="header">
    <h1>EvitalRx</h1>
  </header>

  <div class="login-form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
      <h2>Login</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Mobile</mat-label>
        <input type="text" matInput formControlName="mobile"
          [errorStateMatcher]="matcher" placeholder="8866099491">
        <mat-error
          *ngIf="loginForm.get('mobile')?.hasError('pattern') && !loginForm.get('mobile')?.hasError('required')">
          Please enter a valid mobile number
        </mat-error>
        <mat-error *ngIf="loginForm.get('mobile')?.hasError('required')">
          Mobile number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="Your password">
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="errorMessages.length > 0" class="error-message-container">
        <ul>
          <li *ngFor="let message of errorMessages">{{ message }}</li>
        </ul>
      </div>

      <button mat-raised-button color="primary" [disabled]="loginForm.invalid"
        type="submit">LogIn</button>
    </form>
  </div>
</div>
