
<div class=" content dashboard-container">
  <mat-form-field appearance="outline">
    <mat-label>Search Medicines</mat-label>
    <input matInput [(ngModel)]="searchQuery" (input)="searchMedicines($event)" placeholder="Enter medicine name">
  </mat-form-field>

  <div class="medicine-list">
    <mat-card *ngFor="let medicine of dataSource.data" class="medicine-card">
      <mat-card-header>
        <mat-card-title>{{ medicine.medicine_name }}</mat-card-title>
        <mat-card-subtitle>{{ medicine.content }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Dosage Type:</strong> {{ medicine.dosage_type }}</p>
        <p><strong>Price:</strong> {{ medicine.price | currency: 'INR':'symbol' }}</p>
        <p><strong>Manufacturer:</strong> {{ medicine.manufacturer_name }}</p>
        <p><strong>Size:</strong> {{ medicine.packing_size }}</p>
        <p><strong>Available:</strong> {{ medicine.available_for_patient === 'yes' ? 'Yes' : 'No' }}</p>
      </mat-card-content>

      <mat-card-actions>
        <!-- <button mat-button color="primary">Buy Now</button> -->
        <button mat-button color="accent"
        [disabled]="medicine.available_for_patient !== 'yes'" (click)="addToCart(medicine)">Add to Cart</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
<div *ngIf="dataSource.data.length === 0 && isSearchActive" class="no-data-message">
  <p>Oops! No purchase order found with your search criteria.</p>
</div>
