
.dashboard-container {
  padding: 16px;
}

.medicine-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.medicine-card {
  margin: 16px 0;
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* More prominent shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 10px; /* Optional: rounded corners */
    background-color: #ffffff; /* Ensure a clean background */
}

.no-data-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #2d2a2a; /* Red color for emphasis */
}


.medicine-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Darker shadow on hover */
  transform: translateY(-5px); /* Slight lift on hover */
}
