.place-order-container {
  padding: 20px;
}

.form-title {
  text-align: center;
  color: #3f51b5; /* Blue color */
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.medicine-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.medicine-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quantity-selector {
  margin-top: 10px;
}

.total-section {
  margin-top: 20px;
  text-align: right;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

button[mat-raised-button] {
  margin-top: 20px;
}
